@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

.portfolio {
  margin: 0 auto;
  padding-top: 128px;
  background: #fff;
  border: 16px solid #171F3F;
  max-width: 1440px;
}

.heroSection {
  margin: 0 128px;
  &__photo {
    width: 100%;
    max-width: 120px;
    padding: 5px;
    border: 5px solid #CBD2D9;
    border-radius: 50%;
  }
  &__intro {
    margin-bottom: 50px;
  }
}

.intro__mainInfo {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin: auto;
  margin-top: 16px;
}

.intro__aboutMySkills {
  line-height: 2.25rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.link {
  color:#0593FB;
  text-decoration: underline; 
}

.email {
  margin-top: 50px;
  color: #0593FB;
  font-weight: 500;
  font-style: normal;
  font-size:1.25rem ;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #0593FB;
}

.skillsSection__allSkills{
  margin: 128px;
}

.skillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}
.skillsSection__mainTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3rem;
  padding-bottom:30px;
  border-bottom: 1px solid rgba(201, 209, 216, 0.7);
}

.skillsSection__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
 }

.skillsSection__title:before {
  content: " ";
  display: block;
  width: 80px;
  height: 4px;
  margin-bottom: 24px;
  border-radius: 8px;
  background: #06c847;
  .skillsSection--violet & {
    background: #653CAD;
  }
  .skillsSection--blue & {
    background: #2251CC;
  }
}
.skillsSection__skillsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skillsList__skill {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2.5rem;
  list-style: none;
  display: flex;
  align-items: baseline;
  &:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url('../assets/img/greencheck.svg');
    margin-right: 20px;
  
  .skillsSection--violet & {
   background: url('../assets/img/violetcheck.svg'); 
  }

  .skillsSection--blue & {
    background: url('../assets/img/bluecheck.svg');
  }
}
}

.projectsSection {
  background: #F5F7FA;
  
  &__about {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 3rem;
  }
  &__title {
    margin-left: 128px;
    font-size: 2.25rem;
    line-height: 3rem;
    padding-top: 128px;
  }
  &__description {
    margin: auto 128px;
  }
  &__projects {
    margin: auto 128px;
  }
}

.project {
  max-width: 580px;
  max-height: 300px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
  border-radius: 8px;
  &__content {
    margin: 48px;
  }
  &__description {
    color: #52606D;
    font-size: 1rem;
  }
  &__footer {
    height: 64px;
    background: #F5F7FA;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    &-links {
      display: inline-flex;
      width: 230px;
      height: 32px;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      margin-right: 48px;
    }
  }
  &__icon {
    width: 48px;
    height: 48px;
  }
  &__link {
      color: #0593FB;
      height: 2rem;
      display: flex;
      font-size: 1.125rem;
    &--demo::before {
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background: url('../assets/img/demo.svg') center no-repeat;
      margin-right: 8px;
    }
    &--demo::after {
      display: block;
      content: "";
      width: 2px;
      height: 32px;
      background: #CBD2D9;
      margin-left: 24px;
      margin-right: 24px;
    }
    &--github::before {
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background: url('../assets/img/code.svg') center no-repeat;
      margin-right: 8px;
    }
    
  }
  &__title {
    font-size: 1.25rem;
  }
}
.portfolio__contactSection {
  background: #171F3F;
  color: #fff;
  padding:128px;
  margin-top: 128px;
}
.contactSection {
  &__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  &::before {
    display: block;
    content: "";
    width: 80px;
    height: 4px;
    background: #0593FB;
    border-radius: 8px;
    margin-bottom: 24px;
  }
    }
  &__info {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  &__socialMedia {
    padding-top: 24px;
  }
  &__email {
    padding-top: 48px;
    padding-bottom: 128px;
  }
}

.githubRepos__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  padding:0;
}

.icon {
  width: 60px;
}

@media screen and (max-width: 768px) {
  .intro {
    &__mainInfo {
    font-size: 2rem;
    line-height: 3rem;
    }
  }
  .githubRepos__list {
    grid-template-columns: 1fr;
  }

  .skillsSection{
    grid-template-columns: 1fr;
    &__skillsList {
    grid-template-columns: 1fr;
    }
    &__title {
      font-size: 1.5rem;
    }
  }
  .skillsList__skill {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .portfolio {
    border: none;
    padding-top: 64px;
    &__contactSection {
      margin-top: 24px;
      padding: 24px;
    }
  }

  .email {
    font-size: 1rem;
  }
  .heroSection {
    margin: 0 24px;
  }

  .skillsSection__allSkills {
    margin: 64px 24px;
  }

  .projectsSection {
    &__title {
      padding-top:64px;
      margin: 0 24px;
    }
    &__description {
      margin: 24px;
    }
    &__projects {
      margin: 24px;
    }
  }
}