@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #171F3F;
}

.portfolio {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 128px;
  background: #fff;
  margin-top:16px;
}

.heroSection {
  max-width: 781px;
  margin-left: 128px;
  &__photo {
    width: 100%;
    max-width: 120px;
    padding: 5px;
    border: 5px solid #CBD2D9;
    border-radius: 50%;
  }
  &__intro {
    margin-bottom: 50px;
  }
}

.intro__mainInfo {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

.intro__aboutMySkills {
  max-width: 681px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 300;
}

.link {
  color:#0593FB;
  text-decoration: underline; 
}

.email {
  margin-top: 50px;
  color: #0593FB;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #0593FB;
}

.skillsSection__allSkills{
  margin-top: 200px;
  max-width: 1184px;
  margin-left: 128px;
}

.skillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}
.skillsSection__mainTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  padding-bottom:30px;
  border-bottom: 1px solid rgba(201, 209, 216, 0.7);
}

.skillsSection__title {
  margin-top: 128px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
 }

.skillsSection__title:before {
  content: " ";
  display: block;
  width: 80px;
  height: 4px;
  margin-bottom: 24px;
  background: #06c847;
}
.skillsSection__skillsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 200px;
}
.skillsList__skill {
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  list-style: none;
  display: flex;
  align-items: baseline;
  &:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #06c847;
    border-radius: 50%;
    background: #06c847;
    margin-right: 20px;
  }
}

.projectsSection {
  background: #F5F7FA;
  &__about {
    max-width: 708px;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
  }
  &__title {
    margin-left: 128px;
    font-size: 36px;
    line-height: 48px;
    padding-top: 128px;
  }
  &__description {
    margin-left: 128px;
  }
  &__projects {
    margin-left: 128px;
  }
}

.portfolio__contactSection {
  background: #171F3F;
  color: #fff;
  padding-left:128px;
  padding-top: 128px;
}
.contactSection {
  &__mainInfo {
    width: 580px;
  }
  &__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #0593FB;
    margin-bottom: 24px;
  }
  }
  &__info {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
  }
  &__socialMedia {
    padding-top: 24px;
  }
  &__email {
    padding-top: 48px;
    padding-bottom: 128px;
  }
}

.githubRepos__list {
  list-style: none;
}